.commentable-comment {
  display: flex;
  margin-top: 8px;
}

.commentable-comment__content {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  width: 100%;
  max-width: calc(100% - 48px);
}

.commentable-comment__info {
  display: flex;
  font-size: 13px;
  color: #b2c4d4;
  margin-bottom: 2px;

}

.commentable-comment__user {
  color: #00d563;
  text-overflow: ellipsis;
  font-weight: bold;
  margin-right: 8px;
  overflow: hidden;
  white-space: nowrap;
}

.commentable-comment__date {
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commentable-comment__date abbr {
  text-decoration: none;
}

.commentable-comment__body {
  font-size: 14px;
  white-space: pre-line;
  line-height: 1.5;
  color: #fff;
}

.commentable-comment__menu {
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 7px;
}

.commentable-comment__menu img {
  width: 5px;
  height: 16px;
}

.commentable-comment__show-replies {
  background-color: #0d2031;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #00cc60;
  width: 130px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

.commentable-comment__show-replies:focus {
  outline: none;
}

.commentable-comment__replies {
  display: none;
}

.commentable-comment__replies--visible {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  margin-left: 4px;
  padding-left: 24px;
  border-left: 1px solid rgba(0, 213, 99, 0.25)
}
