:host {
  display: block;
}

abbr {
  text-decoration: none;
}

.level-0,
.level-1 {
  margin-left: 2rem;
}

.ct-comment {
  display: flex;
  min-height: 5.5rem;
  padding: 1rem;
}

.ct-comment__content {
  margin-left: 1rem;
}

.ct-comment__content--nested {
  margin-left: 0.25rem;
}

.ct-comment__content .content-meta {
  display: flex;
  font-size: 0.875rem;
}

.ct-comment__content .content-meta .name {
  font-weight: bold;
  color: #00d664;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ct-comment__content .content-meta .name.name--deleted {
  color: #FFFFFF;
}

.ct-comment__content .content-meta .separator,
.ct-comment__content .content-meta .date {
  margin-left: 0.5rem;
}

.ct-comment__content .content-body {
  margin-top: 0.75rem;
  font-size: 1rem;
}

.ct-replies {
  position: relative;
  display: none;
}

.ct-replies--visible {
  display: block;
}

/* TODO: Implement this stripe */
/*.ct-replies:before {*/
/*  content: '';*/
/*  height: 100%;*/
/*  width: 1px;*/
/*  left: -1rem;*/
/*  top: 0;*/
/*  display: block;*/
/*  position: absolute;*/
/*  border-left: 1px red solid;*/
/*}*/
