@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:host {
  display: block;
  max-width: 48rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #0A1826;
  color: #f6f6f6;
}

.ct-loading {
  margin: 2rem 4rem;
}
