.commentable__compose {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.commentable__compose-ui {
  display: flex;
}

.commentable__compose-form {
  display: flex;
  flex-direction: column;
  background-color: #0d2031;
  color: #b2c4d4;
  margin-left: 16px;
  margin-right: 24px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}

.commentable-actions__compose-reply .commentable__compose-form {
  margin-right: 0;
}

.commentable__compose-form textarea {
  min-height: 48px;
  height: 100%;
  border: none;
  padding: 18px 16px;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
}

.commentable__compose-form textarea::placeholder {
  color: #b2c4d4;
}

.commentable__compose-form textarea:focus {
  outline: none;
}

.commentable__compose-form.commentable__compose-form--expanded {
  background-color: #052840;
  padding-bottom: 8px;
}

.commentable__compose-controls {
  display: flex;
}

.commentable__compose-send {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  margin: 0 16px 0 auto;
  height: 26px;
  color: #b2c4d4;
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
}

.commentable__compose-send img {
  width: 20px;
  height: 19px;
  margin-left: 4px;
}
